---
- name: Enable cgroup via boot commandline if not already enabled for Rocky
  ansible.builtin.lineinfile:
    path: /boot/cmdline.txt
    backrefs: true
    regexp: ^((?!.*\bcgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory\b).*)$
    line: \1 cgroup_enable=cpuset cgroup_memory=1 cgroup_enable=memory
  notify: reboot
  when: not ansible_check_mode
