---
extends: default

rules:
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  line-length:
    max: 120
    level: warning
  truthy:
    allowed-values: ["true", "false"]

ignore:
  - galaxy.yml
