molecule>=4.0.1
ansible-core>=2.13.2
ansible-lint>=6.6.0
kubernetes>=12.0.0
molecule-vagrant>=1.0.0
molecule>=4.0.1
netaddr>=0.8.0
pyyaml>=3.11
yamllint>=1.28.0
jmespath>=1.0.1
jsonpatch>=1.32
pre-commit>=2.20.0
netaddr>=0.8.0